.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input {
    padding-top: 10px;
    padding-bottom: 10px;
}
.add-service form input, textarea {
    width: 75%;
    margin-bottom: 10px;
}
.inputpro {
    border: none;
    border-radius: 5px;
    background-color: #4d4d4d;
    color: white;
}
.add-service form textarea {
    width: 75%;
    margin-bottom: 10px;
}