.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input {
    padding-top: 10px;
    padding-bottom: 10px;
}
.add-service form input, textarea {
    width: 75%;
    margin-bottom: 10px;
}
.add-service form textarea {
    width: 75%;
    margin-bottom: 10px;
}