.footer-container{
    background-color: rgb(29, 29, 29);
    color: rgb(212, 212, 212);
}
.text-color {
    color: rgb(212, 212, 212);
}
.text-color:hover {
    color: rgb(212, 212, 212);
}
.button {
    background-color: #df3f3f;
    border: 3px solid transparent;
    margin-right: 10px;
    padding: 5px 20px;
    border-radius: 7.5px;
    color: white;
    transition: 0.4s;
    font-weight: 600;
}
.button:hover {
    background-color: transparent;
    border: 3px solid #EA4343;
    transform: scale(1.05);
    color:rgb(200, 200, 200);
}
.button2 {
    border: none;
    padding: 7.5px 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.4s;
}
.button2:hover {
    transform: scale(1.05);
}